body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#main-container {
  display: flex;
  flex-direction: column
}

#prompt {
  display: flex;
  flex-flow: column wrap;
}

#prompt a {
  display: inline-block;
}

table, td {
  border: 1px solid black;
}


#inputResults {
  display: flex;
  justify-content: space-between
}

