body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

/* START NAVBAR */

#navbar {
  display: flex;
  flex-direction: row;
}

nav a {
  display: inline-block;
  margin: 1em;
}

nav li {
  display: block;
  transition-duration: 0.5s;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 101;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
  /* margin: 5; */
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* END NAVBAR */

form div {
  margin: 1em;
  display: inline-block;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.main-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  margin: 100px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255, 0.3);
}

.content-wrapper {
  display: flex;
  flex-direction: row;
}

.prompt {
  display: flex;
  flex-direction: column;
}
