/* font-family: 'Lato', sans-serif;
font-family: 'Exo 2', sans-serif; */

colors {
  color: #04050a;
  color: #19225c;
  color: #0e24f3;
  color: #43afee;
  color: #205bf8;
  color: #9ce7ea;
  color: #995e78;
  color: #3d3ca7;
}

/* html {
  background-image: url('galaxy-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
} */

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

label {
  display: block;
}

h1,
h2,
h3,
h4 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  color: #9ce7ea;
  margin-top: 0;
}

h1 {
  margin-bottom: 0;
}

p {
  font-weight: 300;
  color: #fff;
  margin-top: 0;
}

/* START NAVBAR */

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  margin: auto;
}

#nav-logo {
  width: 250px;
}

nav a {
  display: inline-block;
  margin: 1em;
}

nav li {
  display: block;
}

nav li:hover {
  background-color: #272822;
}

.dropdown {
  position: relative;
  display: inline-block;
  /* z-index: 200; */
}

.dropdown-content {
  display: none;
  position: absolute;
  padding: 0;
  z-index: 200;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: #272822;
}

/* END NAVBAR */

form div {
  margin: 1em;
  display: inline-block;
}

canvas {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1;
}

/* START BUTTONS */

.btn {
  height: 3em;
  border: none;
  background: none;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
  position: relative;
}

.btn-close {
  width: 65px;
  background: #995e78;
  color: #fff;
  border-radius: 20px;
}

.btn-submit {
  width: 65px;
  margin: 15px 0px;
  background: #43afee;
  color: #fff;
  border-radius: 20px;
}

.btn-login {
  width: 180px;
  background: #43afee;
  color: #fff;
  border-radius: 20px;
}

.btn-modal {
  width: 110px;
  background: #43afee;
  color: #fff;
  border-radius: 20px;
}

/* END BUTTONS */

/* START OVERLAY COMPONENTS */

/* START LOGIN */

#login-wrapper {
  position: absolute;
  margin: auto;
  z-index: 100;
  top: 100px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  min-width: 250px;
  max-width: 700px;
  background-color: rgb(4, 5, 10, 0.8);
}

#login-logo {
  width: 75%;
}

#intro {
  font-size: 18px;
  line-height: 26px;
  width: 75%;
  margin: 40px auto;
  text-align: center;
}

#login-buttons {
  display: flex;
  /* flex-direction: column;
  align-items: center; */
  flex-direction: row;
  justify-content: space-around;
}

/* END LOGIN */

.main-wrapper {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 50;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 16% 66% 16%;
  grid-template-areas: 'header header' 'main editor' 'footer footer';
  padding: 30px 40px;
  max-width: 1000px;
  height: 70vh;
  background-color: rgb(4, 5, 10, 0.8);
}

.challenge-header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
}

.submit-button {
  grid-area: footer;
  display: flex;
  justify-content: flex-end;
}

.prompt {
  grid-area: main;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.editor {
  grid-area: editor;
}

.content {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  height: 100%;
  text-align: justify;
}

#prompt-toggle {
  display: flex;
  flex-direction: row;
}

.toggle-item {
  margin-right: 30px;
  cursor: pointer;
}

.active-toggle {
  color: #ffc1dc;
}

#results-stats {
  display: flex;
  flex-direction: row;
}

#results-stats p {
  margin-right: 15px;
}

/* END OVERLAY COMPONENTS */

/* START FUEL BAR */

progress {
  appearance: none;
  /* border: 3px solid #fff; */
  background-color: #272822;
  border-radius: 30px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
  width: 300px;
  height: 30px;
}

progress::-webkit-progress-bar {
  background-color: #272822;
  border-radius: 30px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
}

progress::-webkit-progress-value {
  /* Gradient background with Stripes */
  border-radius: 30px;
  /* background-image: linear-gradient(45deg, red, blue); */
  background-image:
  /* -webkit-linear-gradient(
      135deg,
      transparent,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ), */ -webkit-linear-gradient(
      top,
      rgba(255, 255, 255, 0.25),
      rgba(0, 0, 0, 0.2)
    ),
    -webkit-linear-gradient(left, #995e78, #f03a89);
}

/* END FUEL BAR */

/* START VICTORY MODAL */

.modal {
  position: absolute;
  z-index: 100;
  background: rgb(4, 5, 10, 0.8);
  padding: 30px;
}

.modal > .close {
  display: flex;
  justify-content: flex-end;
}

.modal > .header {
  font-size: 2em;
  width: 100%;
  text-align: center;
  padding: 5px;
}

.modal > .content {
  width: 100%;
  padding: 5px;
  font-size: 20px;
  text-align: center;
}

.modal > .actions {
  width: 100%;
  padding: 5px;
  margin: auto;
  text-align: center;
}

/* END VICTORY MODAL */

/* START PLANET SELECT */

.planet-select {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 50;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 16% 84%;
  grid-template-areas: 'planet-header planet-header planet-header' 'planet1 planet2 planet3';
  padding: 30px 40px;
  max-width: 1000px;
  height: 70vh;
  background-color: rgb(4, 5, 10, 0.8);
}

.planet-header {
  left: 0;
  right: 0;
  margin: auto;
  grid-column: 1 / 4;
  display: flex;
  justify-content: space-between;
}

.planet1 {
  grid-area: planet1;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px 40px;
}

.planet-img:hover {
  background-color: #98d5f8;
}

.planet2 {
  grid-area: planet2;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px 40px;
}

.planet3 {
  grid-area: planet3;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px 40px;
}

/* END PLANET SELECT */
